#body {
  -fx-background-color: #eee;
}

.login-background {
    -fx-background-color: #eee;
}

.heading {

    -fx-background-color: #333;
    -fx-background-radius: 5 5 0 0;
    -fx-padding: 10px;

}

.text-field {
    -fx-background-color: #fff;
    -fx-background-radius: 5;
    -fx-border-color: #bbb;
    -fx-border-radius: 5;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-padding: 5px;
}
.text-field:focused {
    -fx-border-color: #333;
}
.login-button {
    -fx-background-color: #333;
    -fx-background-radius: 5;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-padding: 10px;
}
.login-button:hover {
    -fx-background-color: #444;
    -fx-cursor: hand;
}
.login-button:pressed {
    -fx-background-color: linear-gradient(to top, #444, #666);
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
.exit-button {
    -fx-background-color: #515152;
    -fx-background-radius: 5;
    -fx-font-size: 14px;
    -fx-text-fill: #eee;
    -fx-padding: 10px;
}
.exit-button:hover {
    -fx-background-color: #526263;
    -fx-cursor: hand;
}
.exit-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
.save-button {
-fx-background-color: #1e7fff;
-fx-background-radius: 5;
-fx-font-size: 14px;
-fx-text-fill: #fff;
-fx-padding: 10px;
}
.save-button:hover {
-fx-background-color: #1b6fdb;
-fx-cursor: hand;
}
.save-button:pressed {
-fx-scale-x: 0.95;
-fx-scale-y: 0.95;
}

.edit-button {
-fx-background-color: #5cb85c;
-fx-background-radius: 5;
-fx-font-size: 14px;
-fx-text-fill: #fff;
-fx-padding: 10px;
}
.edit-button:hover {
-fx-background-color: #449d44;
-fx-cursor: hand;
}
.edit-button:pressed {
-fx-scale-x: 0.95;
-fx-scale-y: 0.95;
}

.group-button {
-fx-background-color: #f0ad4e;
-fx-background-radius: 5;
-fx-font-size: 14px;
-fx-text-fill: #fff;
-fx-padding: 10px;
}
.group-button:hover {
-fx-background-color: #ec971f;
-fx-cursor: hand;
}
.group-button:pressed {
-fx-scale-x: 0.95;
-fx-scale-y: 0.95;
}

.delete-button {
-fx-background-color: #d9534f;
-fx-background-radius: 5;
-fx-font-size: 14px;
-fx-text-fill: #fff;
-fx-padding: 10px;
}
.delete-button:hover {
-fx-background-color: #c9302c;
-fx-cursor: hand;
}
.delete-button:pressed {
-fx-scale-x: 0.95;
-fx-scale-y: 0.95;
}





.dodaj-kontakt-button {
  -fx-background-color: #eee;
  -fx-text-fill: #333;
  -fx-font-size: 16px;
  -fx-background-radius: 0;
}
.dodaj-kontakt-button:hover {
  -fx-background-color: #ccc;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-cursor: hand;
}
.dodaj-kontakt-button:pressed  {
  -fx-background-color: linear-gradient(to top, #ccc, #aaa);
}


.przycisk-listy-wybrany {
   -fx-background-color: radial-gradient(center 50% 100%, radius 40%, #666, #333);
}
.przycisk-listy:hover {
   -fx-background-color: radial-gradient(center 50% 100%, radius 40%, #666, #333);
   -fx-cursor: hand;
}

.kontakt:hover {
   -fx-background-color: #ccc;
   -fx-cursor: hand;
}
.kontakt-header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.settings-button:hover {
    -fx-cursor: hand;
}

.page-text {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.page-text:hover {
    -fx-cursor: hand;
}
.page-text:pressed  {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}


.category-text {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.category-tile {
    -fx-margin: 10px;
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 7px;
    -fx-border-color: #9a9cb1;
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
}
.category-tile:hover {
    -fx-background-color: #e6e6e6;
    -fx-cursor: hand;
}
.category-tile:pressed  {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}


.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-style: none;
}

.text-area {
    text-area-background: transparent ;
}
.text-area .content {
    -fx-background-color: text-area-background ;
    -fx-border-style: none;
}

.filtry-button {
    -fx-background-color: #1e7fff;
    -fx-background-radius: 5;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-padding: 7px;
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-border-radius: 4;
}
.filtry-button:hover {
    -fx-background-color: #1b6fdb;
    -fx-cursor: hand;
}
.filtry-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.clear-button {
    -fx-background-color: #e7e4e4;
    -fx-background-radius: 5;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-padding: 7px;
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-border-radius: 4;
}
.clear-button:hover {
    -fx-background-color: #dbd6d6;
    -fx-cursor: hand;
}
.clear-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}